<html>
	<head>
		<title>Cut it!</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<script src="/js/angular.min.js"></script>
		<script src="/js/app.js"></script>
	</head>
	<body ng-app="short">
		<div ng-controller="main" class="container" style="width: 500px">
			<input class="form-control text-center" type="text" placeholder="http://upwork.com" ng-model="url">
			<input class="form-control text-center" type="text" placeholder="xxxxxxxxxx" ng-model="short">
			<button class="btn btn-lg btn-primary btn-block" ng-click="cut()">Cut it!</button>
			<div class="text-center">
				{{ state }}
				<br>
				<h3>
					<a ng-href="{{ link }}" target="_blank">{{ link }} </a>
				</h3>
			</div>
		</div>
	</body>
</html>
